		*{
			margin:0px;
			padding:0px;
		}
		html,body{
			font-family:arial;
			width:100%;
			height:100%;
		}
		body{
			overflow:hidden;
			 -webkit-app-region: no-drag;
		}
		div{
			-webkit-user-select: none;
		}
		#manager{
			position: absolute;
			width: 100%;
		}
		#nameTrail,#monTrail{
			position: absolute;
			white-space: nowrap;
		}
		ul{
			position: absolute;
			width: 50%;
			list-style-type: none;
			-webkit-user-select: none; 
		}
		#slider2{
			left: 50%;
		}
		li{
			cursor:pointer;
			white-space:nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		span{
			font-weight:inherit;
		}
		a{
			cursor:pointer;
			display:inline-block;
			padding:0 0.5em 0 0;

		}
		#mover{
			 -webkit-app-region: drag;
		}
		.sel{
			cursor:text;
			-webkit-user-select: text;  
		}
		
		